<form (ngSubmit)="addBook()">
<div>
  <label>Title</label>
  <input name="title" type="text" [(ngModel)]="newBook.title" />
</div>
<div>
  <label>Author</label>
  <input name="author" type="text" [(ngModel)]="newBook.author" />
</div>
<div>
  <label>Price</label>
  <input name="price" type="text" [(ngModel)]="newBook.price" />
</div>
<div>
  <label>Rating</label>
  <select name="rating" [(ngModel)]="newBook.rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="submit">Save</button>
</form>

{{newBook | json}}

<!-- <div>
  <label>Title</label>
  <input type="text" #title>
</div>
<div>
  <label>Author</label>
  <input type="text" #author>
</div>
<div>
  <label>Price</label>
  <input type="text" #price>
</div>
<div>
  <label>Rating</label>
  <select #rating>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

<button (click)="addBook(title, author, price, rating)">Save</button> -->