<form (ngSubmit)="addBook()" #addBookForm="ngForm" highRatedHasHighPrice>
    <div class="error" *ngIf="addBookForm.errors?.highRatedHasHighPrice">
      High rated has to have high price
    </div>
  <div>
    <label>Title</label>
    <input name="title" type="text" [(ngModel)]="newBook.title" #title="ngModel" required minlength="4" titlecase/>
  </div>
  <div *ngIf="title.invalid && (title.touched || title.dirty)">
    <div class="error" *ngIf="title.errors.required">
      Title is required
    </div>
    <div class="error" *ngIf="title.errors.minlength">
      Min 4 characters
    </div>
    <div class="error" *ngIf="title.errors.titlecase">
      Not proper titlecase
    </div>
  </div>
  <div>
    <label>Author</label>
    <input name="author" type="text" [(ngModel)]="newBook.author" #author="ngModel" required />
  </div>
  <div *ngIf="author.invalid&& (author.touched || author.dirty)">
      <div class="error" *ngIf="author.errors.required">
        Author is required
      </div>
    </div>
  <div>
    <label>Price</label>
    <input name="price" type="text" [(ngModel)]="newBook.price" />
  </div>
  <div>
    <label>Rating</label>
    <select name="rating" [(ngModel)]="newBook.rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <button type="button" (click)="addBookForm.reset()">Reset</button>
  <button type="submit" [disabled]="addBookForm.invalid">Save</button>
</form>

{{newBook | json}}
{{ addBookForm.valid }}
{{ title.valid }}
{{ title.errors | json }}

<!-- <div>
  <label>Title</label>
  <input type="text" #title>
</div>
<div>
  <label>Author</label>
  <input type="text" #author>
</div>
<div>
  <label>Price</label>
  <input type="text" #price>
</div>
<div>
  <label>Rating</label>
  <select #rating>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

<button (click)="addBook(title, author, price, rating)">Save</button> -->